@font-face {
  font-family: poiret;
  src: url(poiretone-regular-webfont.woff2);
}

@font-face {
  font-family: darker;
  src: url(darkergrotesque-regular-webfont.woff2);
}

* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #f2e8e2;
}

ul {
  margin-left: 565px;
}

ul li {
  list-style: none;
  display: inline-block;
  float: none;
  line-height: 100px;
}

ul li a {
  display: block;
  text-decoration: double;
  font-size: 50px;
  color: #80b161;
  padding: 0 40px;
}

ul li a:hover {
  color: rgb(170, 96, 0);
}

h1 {
  text-align: center;
  font-size: 55px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 40px;
}

.illustrator_img {
  width: 1400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.paragraf1 {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: darker;
}

.paragraf2 {
  width: 1400px;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
  display: block;
  font-size: 20px;
  font-weight: bold;
  font-family: darker;
}

.tørvarer1 {
  grid-row: 2/3;
  grid-column: 1/2;
  margin-top: 40px;
  color: #496537;
  font-size: 30px;
}

.tørvarer2 {
  grid-row: 2/3;
  grid-column: 1/2;
  margin-top: 10px;
  color: #496537;
  font-size: 30px;
}

.tørvarer3 {
  margin-top: 10px;
  color: #496537;
  font-size: 30px;
}

.tørvarer4 {
  margin-top: 10px;
  color: #496537;
  font-size: 30px;
}

.Video {
  place-items: center;
  margin-left: 260px;
  width: 1400px;
}

.footer {
  background-color: #496537;
  width: auto;
  height: auto;
}
