/* //rezet// */
img {
  max-width: 100%;
}

* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

body {
  background-color: #f2e8e2;
}

h1 {
  color: rgb(16, 86, 16);
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
}

h2 {
  color: rgb(16, 86, 16);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
  font-size: 30px;
}

.Menu {
  width: 100%;
  height: 100%;
  background-color: #f2e8e2;
  color: rgb(16, 86, 16);
}

ul {
  margin-left: 565px;
}

ul li {
  list-style: none;
  display: inline-block;
  float: none;
  line-height: 100px;
}

ul li a {
  display: block;
  text-decoration: double;
  font-size: 1rem;
  color: rgb(16, 86, 16);
  padding: 1rem;
  margin: 0;
  top: 0;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-section {
  background: rgb(16, 86, 16);
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: white;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #000000;
  line-height: 28px;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
